<div class= "container-fluid">

    <div class="row bg-secondary d-flex align-intems-center">
        <div class="col-md-6">

            <div class="row dd-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem-vindo(a)</h1>
                    <h5 class="fs-54">Expresse aqui os seus pensamentos e opiniões!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn-btn-light mr-2"  data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
                    <a class="btn-btn-outline-light" href="#postagens">Ver postagens</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/RxucqDe.png" alt="desenho" height="500px">

        </div>
    </div>


</div>

<div class="container mb-5 mt-5" id="postagens">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-link active text-secondary font-weight-bold" id="nav-posts" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">Todas as Postagens</a>
          <a class="nav-link text-secondary font-weight-bold" id="nav-myPost" data-toggle="tab" href="#nav-myPost" role="tab" aria-controls="nav-myPost" aria-selected="false">Minhas Postagens</a>
          <a class="nav-link text-secondary font-weight-bold" id="nav-tema" data-toggle="tab" href="#nav-tema" role="tab" aria-controls="nav-tema" aria-selected="false">Postagens por Tema</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
            Todas as postagens...
        </div>
        <div class="tab-pane fade" id="nav-myPost" role="tabpanel" aria-labelledby="nav-Mypost-tab">
            Minhas postagens...
        </div>
        <div class="tab-pane fade" id="nav-tema" role="tabpanel" aria-labelledby="nav-tema-tab">
            Postagens por tema...
        </div>
      </div>

</div>


  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <label for="titulo">Titulo</label>
              <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
         </div>

         <div class="form-group">
            <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'> cadastre um novo</a>:</label>
            <select name="tema" id="tema" class="form-control">
                <option value="">Temas</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-sucess">Publicar</button>
        </div>
      </div>
    </div>
  </div>
